<!DOCTYPE html>
<html>
 <head>
  <meta charset="UTF-8">
  <title>Basketball Team Signup</title>
 </head>
 <body>
   <h1>Create a Basketball Team!</h1>
   <form method="POST" action="/team">
     Team Name: <input type="text" id="name">
     Coach: <input type="text" id="coach">
     Point Guard: <input type="text" id="pg">
     Shooting Guard: <input type="text" id="sg">
     Small Forward: <input type="text" id="pf">
     Power Forward: <input type="text" id="sf">
     Center: <input type="text" id="c">
     <button type="submit" id="Submit">
   </form> 
 </body>
</html>


